html {
  @include box();
  font-family: $main-font;
  font-size: 100%;
  height: 100%;
  * {
    @include box();
    font-family: $main-font;
  }
  body {
    background: $color-light-gray;
    color: $color-gray;
    height: 100%;
  }
  @media (min-width: $mid_device_width) {
    font-size: 120%;
  }
  @media (min-width: $min_width) {
    font-size: 130%;
  }
}
img {
  @include rem(max-width, 185px);
  height: auto;
  margin: 0 auto;
}
a {
  @include rem(font-size, 14px);
  @include transition(all .4s ease-in-out);
  color: $color-pink;
  text-decoration: none;
  &:hover {
    @include transition(all .4s ease-in-out);
    color: $color-pink;
    text-decoration: underline;
  }
}
input,
button,
input *,
button * {
  @include btnappearence();
  outline: none;
  &:focus,
  &:hover,
  &:active {
    outline: none;
  }
}
input[type="checkbox"] {
  @include btnappearence(checkbox);
}

h2 {
  @include rem(font-size, 28px);
  color: $color-gray;
  font-family: $museoR3;
  text-align: center;
  &.pane-title {
    left: 0;
    position: absolute;
    right: 0;
    top: 2%;
  }
}

p {
  @include rem(margin-bottom, 10px);
  &:last-child {
    margin-bottom: 0;
  }
}
p,
a,
span,
div {
  @include rem(font-size, 20px);
}
textarea,
textarea.form-control,
input[type="text"],
input[type="password"],
input[type="email"],
input[type="search"],
input[type="tel"],
input[type="url"] {
  @include border-radius(4px);
  @include rem(max-width, 400px);
  background-color: $white;
  border-color: $color-simple-gray;
  border-style: solid;
  border-width: 2px;
  color: $color-gray;
  margin-left: auto;
  margin-right: auto;
}

input[type="submit"],
button:not(.slick-arrow),
button.btn:not(.slick-arrow) {
  @include main-btn;
  &:hover,
  &:active,
  &:focus {
    @include main-btn;
  }
}

textarea {
  resize: none;
}

.webform-component-textarea .grippie {
  display: none;
}
.clearfix:after {
  clear: both;
  content: '';
  display: block;
}
#admin-menu a {
  @include rem(font-size, 12px);
}

@media (min-width: $mid_device_width) {
  img {
    max-width: 100%;
  }
}
